.footer {
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;

  &__rights {
    display: inline-block;
    vertical-align: sub;
    width: 70%;

    &__logo {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
      color: #08a6e4;
    }

    &__reserved {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 14.98px;
      color: #a5a5a5;
    }
  }

  &__rrss {
    display: inline-block;
    width: 28%;
    text-align: right;

    &__svgTwitter {
      margin-right: 1rem;
    }

    &__svgFacebook {
      margin-right: 1rem;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .footer {
    background-color: rgb(207, 46, 159);
  }
}
