.footer {
  box-shadow: 0em 0.3em 2.5em rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;

  &__rights {
    display: inline-block;
    vertical-align: sub;
    width: 70%;

    &__logo {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 1.62rem;
      line-height: 1.87rem;
      color: #08a6e4;
      margin-bottom: 0.3rem;
    }

    &__reserved {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 0.68rem;
      line-height: 0.9rem;
      color: #a5a5a5;
    }
  }

  &__rrss {
    display: inline-block;
    width: 28%;
    text-align: right;

    &__svgTwitter {
      margin-right: 1em;
    }

    &__svgFacebook {
      margin-right: 1em;
    }

    a {
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding: 1.5em 8em;
  }
}