* {
  scroll-behavior: smooth;
}

.main {
  text-align: center;

  &__opening {
    width: 80%;
    margin: 7rem auto 0;

    &__title {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 2.18em;
      line-height: 2.5em;
    }

    &__subtitle {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 23px;
      margin: 1.5em 0 3em;
    }

    &__openButton {
      width: 100%;
      max-width: 350px;
      height: 4.18em;
      background-color: #08a6e4;
      color: #ffffff;
      border: none;
      border-radius: 2.5rem;
      box-shadow: 5px 10px 14px #07ace64a;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }

  &__background {
    height: 18rem;
    background-image: url("./img/BackgroundMobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__textPopular {
    width: 80%;
    margin: 0 auto 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.87rem;
    line-height: 2.18rem;
  }

  &__sectionPopular {
    width: max-content;
    margin: 2em auto;

    &__article {
      margin-bottom: 2.5em;

      &__popularSvg {
        position: relative;

        &__svgElipse {
          position: relative;
        }

        &__svgIconPerson {
          position: absolute;
          right: 1.8em;
          top: 0.37em;
        }

        &__svgIconEye {
          position: absolute;
          right: 0.8em;
          top: 0.7em;
        }

        &__svgIconCatalog {
          position: absolute;
          right: 1em;
          top: 0.37em;
        }
      }

      &__pNumber {
        margin: 1em auto;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 1.2;
        letter-spacing: 5.96px;
        max-width: 8.5em;
      }

      &__pDescription {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1em;
        color: #a5a5a5;
        max-width: 8.5em;
      }
    }
  }

  &__groups {
    background-color: #f7f7f7;
    padding: 0.5rem;

    &__group {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      margin: 2em auto;
      width: 80%;
      max-width: 30rem;
      text-align: start;
      padding: 0 1rem;
      background-color: #ffffff;

      &__groupImg {
        text-align: center;
        margin: auto;
        padding: 1em 0 1.5em;
        width: max-content;
        position: relative;

        &__rectangle {
          position: absolute;
          right: 1em;
        }

        &__macbook2 {
          position: relative;
          top: 1.2em;
          right: 1.2em;
          width: 10em;
        }

        &__ellipse3 {
          position: absolute;
          right: 1em;
        }

        &__iPhone2 {
          position: relative;
          top: 0.62em;
          left: 1.5em;
        }
      }

      &__groupText {
        &__title {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          font-size: 1.87rem;
          line-height: 2rem;
          margin: 1rem 0;
        }

        &__description {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 0.87rem;
          line-height: 19px;
          margin: 1.2rem 0;
        }
      }
    }

    &__groupTrumpet {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      margin: 2rem auto;
      max-width: 500px;
      background-color: #ffffff;
      width: 80%;

      &__divTextTrumpet {
        padding: 0 1rem;
        text-align: start;

        &__title {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          font-size: 1.87rem;
          line-height: 35.22px;
          margin: 1rem 0;
        }

        &__description {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 0.87rem;
          line-height: 19px;
          margin: 1.2rem 0;
        }
      }

      &__divImgTrumpet {
        background-color: #55df9f;
        overflow: hidden;
        max-height: 12.18rem;
        border: 1px solid #e8e9ed;
        border-radius: 5px;

        &__imgTrumpet {
          transform: translate(-9%, 9%);
        }
      }
    }
  }

  &__pricingTitle {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42.26px;
    margin: 3rem auto 0;
  }

  &__selector {
    padding: 1em;

    &__boton {
      margin: 1em;
    }

    &__boton {
      margin: 1em;
    }
  }

  &__container {
    &__pricing {
      padding-bottom: 1.56em;
      position: relative;

      &__card {
        width: 80%;
        margin: auto;
        max-width: 30rem;

        &__info {
          border: 1px solid #fb3b64;
          border-radius: 18px;
          width: 100%;
          margin: 1.25em 0 0;

          &__leftInfo {
            display: table-cell;
            width: 48%;
            vertical-align: middle;
            padding-bottom: 1rem;

            &__h1Modality {
              font-family: "Raleway", sans-serif;
              font-weight: 700;
              font-size: 1.25em;
              line-height: 24px;
              color: #13253b;
            }

            &__pModality {
              font-family: "Open Sans", sans-serif;
              font-weight: 300;
              font-size: 2.87rem;
              line-height: 64px;
              color: #fb3b64;
            }

            .h4Modality--red {
              visibility: hidden;
            }

            .pModality--blue {
              color: #08a6e4;
            }

            .pModality--green {
              color: #55dfb4;
            }
          }

          &__rightInfo {
            display: table-cell;
            width: 48%;
            vertical-align: middle;
            text-align: start;
            padding-bottom: 1.25em;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 23px;

            &__checkboxList {
              li {
                margin: 1.56em 0;
                list-style: none;
              }
            }
          }
        }

        .info--borderblue {
          border: 1px solid #08a6e4;
        }

        .info--borderGreen {
          border: 1px solid #55dfb4;
        }

        &__basicButton {
          position: absolute;
          width: 9.37rem;
          height: 3.12rem;
          border: none;
          border-radius: 23px;
          color: #ffffff;
          background-color: #eb476e;
          bottom: 0rem;
          left: 50%;
          transform: translateX(-50%);
        }

        .basicButton--blue {
          background-color: #08a6e4;
        }

        .basicButton--green {
          background-color: #55dfb4;
        }
      }
    }
  }

  &__slider {
    position: relative;
    background-color: rgba(0, 0, 0, 0.801);
    width: 96%;
    height: 20em;
    margin: 2em auto 0 auto;
    padding: 0.5em 0.5em 1.6em 0.5em;
    border-radius: 1em;
    max-width: 30rem;



    &__img {
      width: 100%;
      height: 99%;
      border-radius: 1em;
      aspect-ratio: 16/9;
    }

    &__buttonLeft {
      position: absolute;
      bottom: 50%;
      width: 2em;
      height: 2em;
      left: 4%;
      border: 1px solid rgba(240, 40, 40, 0.4);
      border-radius: 15em;
      background-color: rgba(240, 40, 40, 0.3);
      color: rgb(255, 255, 255);
      font-weight: 700;
      box-shadow: 0px 0px 6px rgba(240, 40, 40, 1);
      cursor: pointer;
    }

    &__buttonRight {
      position: absolute;
      bottom: 50%;
      width: 2em;
      height: 2em;
      right: 4%;
      border: 1px solid rgba(240, 40, 40, 0.4);
      border-radius: 15em;
      background-color: rgba(240, 40, 40, 0.3);
      color: rgb(255, 255, 255);
      font-weight: 700;
      box-shadow: 0px 0px 6px rgba(240, 40, 40, 1);
      cursor: pointer;

    }

    &__paginations {
      position: relative;
      width: 100%;

      &__span {
        background: #888;
        width: 1em;
        height: 1em;
        border-radius: 15em;
        display: inline-block;
        margin: 0 0.3em;
      }

      .paginations--active {
        background: #f7f7f7;
        box-shadow: 0px 0px 10px rgba(240, 40, 40, 1);

      }
    }
  }


  &__questions {
    margin: 2em auto 1em;
    text-align: start;
    max-width: 30rem;
    padding: 0 1.5rem;

    &__container {
      &__questionsTitle {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 46.96px;
      }

      &__subtitle {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
      }

      &__contact {
        &__mail {
          margin: 1.5rem 0 0.5rem;

          &__svgMail {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.4rem;
          }

          &__textMail {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 1rem;
            line-height: 22px;
            color: #a5a5a5;
          }
        }

        &__phone {
          &__svgPhone {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.4rem;
          }

          &__numberPhone {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 1rem;
            line-height: 22px;
            color: #a5a5a5;
          }
        }
      }
    }

    &__containerForm {
      &__form {
        &__formP {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 0.68rem;
          line-height: 0.87rem;
          letter-spacing: 0.28rem;
          color: #08a6e4;
          margin: 3rem 0 0;
        }

        &__inputForm {
          border: none;
          border-bottom: 1px solid #9a9595;
          width: 100%;
          height: 3em;
        }

        .error {
          border-bottom: 2px solid red;
        }

      }

      &__check {
        margin: 2rem 0;

        &__checkboxCheck {
          display: inline-block;
          appearance: none;
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid #9a9595;
          border-radius: 4px;
          background-repeat: no-repeat;
          background-position: center;
        }

        .error {
          border: 2px solid red;
        }

        .checkboxCheckImg {
          background-image: url(./svg/Vector.svg);
          background-repeat: no-repeat;
          background-position: center;
        }

        &__pCheck {
          display: inline-block;
          width: 85%;
          vertical-align: top;
          margin: 0 0.5rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 0.75rem;
          line-height: 1rem;
          color: #707070;
        }

        &__sendForm {
          margin: 2rem 0 2.5rem;
          text-align: end;

          &__sendFormButton {
            border: none;
            border-radius: 35px;
            background-color: #08a6e4;
            padding: 1.4rem 6.3rem;
            color: #ffffff;
            box-shadow: 5px 10px 14px #07ace64a;
          }
        }
      }
    }
  }

  &__returnToTop {
    visibility: hidden;
    position: fixed;
    bottom: 3.5em;
    right: 0.8em;
    cursor: pointer;

    &__anchor {
      img {
        background-color: transparent;
        border: none;
        box-shadow: 2px 4px 9px #631b1b;
        border-radius: 50%;
        background-color: #c53939;
        width: 2.5em;
        height: 2.5em;
      }

      img:hover {
        scale: 1.2;
      }
    }
  }

}

@media only screen and (min-width: 1000px) {
  .main {
    &__opening {
      &__title {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }

    &__background {
      height: 30rem;
      background-image: url("./img/BackgroundDesktop.png");
    }

    &__textPopular {
      font-weight: 25rem;
      font-size: 2.25rem;
      line-height: 2.6rem;
    }

    &__sectionPopular {
      display: flex;
      gap: 12em;
      margin: 6em auto;

      &__article {
        &__popularSvg {
          &__svgIconPerson {
            right: 0.5em;
          }
        }
      }
    }

    &__groups {
      padding: 4em 1em;

      &__group {
        width: 100%;
        max-width: 64rem;
        display: flex;
        justify-content: space-between;
        padding: 1em;

        &__groupImg {
          transform: scale(2);
          margin: 4em;
        }

        &__groupText {
          margin: 3em 1em 3em 0;
          max-width: 38%;
        }

        .groupText--red {
          border-bottom: 4px solid #fb3b64;
        }

        .groupText--blue {
          border-bottom: 4px solid #08a6e4;
        }
      }

      .group--desktop {
        flex-direction: row-reverse;
        padding: 2em;
      }

      &__groupTrumpet {
        display: flex;
        justify-content: space-between;
        gap: 3em;
        width: 100%;
        max-width: 64rem;
        border: none;
        background-color: transparent;

        &__divTextTrumpet {
          border: 1px solid #e8e9ed;
          background-color: #ffffff;
          max-width: 55%;
          padding: 3em 11em 5em 1.5em;

          &__description {
            padding-bottom: 3em;
            border-bottom: 4px solid #55dfb4;
          }

          &__title {
            padding-right: 1em;
          }
        }

        &__divImgTrumpet {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          max-height: none;
        }
      }
    }

    &__pricingTitle {
      margin: 3em 0 1.3em;
    }

    &__selector {

      &__boton:hover {
        scale: 1.6;
        border-radius: 10em;
        box-shadow: 0rem 0rem 1.8rem #2d2e2dc7;
      }
    }


    &__container {
      max-width: 79.1em;
      margin: auto;
      padding: 1em;
      display: flex;
      justify-content: space-between;

      &__pricing:hover {
        transform: scale(1.1);
      }

      &__pricing {
        width: 30%;

        &__card {
          width: 100%;

          &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em 0 1em;

            &__rightInfo {
              text-align: center;
            }
          }

          .info--borderRed:hover {
            box-shadow: 0.3rem 0.62rem 1.6rem #eb476d54;
          }

          .info--borderblue:hover {
            box-shadow: 0.3rem 0.62rem 1.6rem #07abe652;
          }

          .info--borderGreen:hover {
            box-shadow: 0.3rem 0.62rem 1.6rem #55dfb359;
          }

          .basicButton--red:hover {
            box-shadow: 0.3rem 0.62rem 1.6rem #eb476d54;
          }

          .basicButton--blue:hover {
            box-shadow: 0.3rem 0.62rem 1.6rem #07abe652;
          }

          .basicButton--green:hover {
            box-shadow: 0.3rem 0.62rem 1.6rem #55dfb359;
          }
        }
      }
    }

    &__slider {
      max-width: 78em;
      margin: 2em auto;
      height: 40em;
      padding-bottom: 2.5em;


      &__buttonLeft {
        width: 3em;
        height: 3em;
      }

      &__buttonRight {
        width: 3em;
        height: 3em;

      }

      &__buttonLeft:hover {
        scale: (1.4);
      }

      &__buttonRight:hover {
        scale: (1.4);
      }


      &__paginations {
        bottom: -0.5em;

        &__span {
          width: 1.5em;
          height: 1.5em;
          margin: 0 0.7em;
        }

      }
    }


    &__questions {
      display: flex;
      justify-content: space-between;
      max-width: 56rem;
      padding: 0em;
      margin: 8em auto 4em;

      &__container {
        &__questionsTitle {
          font-size: 3em;
          margin-bottom: 0.5em;
        }

        &__contact {
          display: flex;
          justify-content: space-between;
          margin-top: 3em;

          &__mail {
            margin: 0em;
          }
        }
      }

      &__containerForm {
        width: 50%;

        &__form {

          &__formP {
            margin-top: 0.5em;
          }

          &__inputForm {
            margin-bottom: 3em;
          }

        }

        &__check {
          margin: 0em;

          &__pCheck {
            width: 90%;
          }

          &__sendForm {
            margin-bottom: 0em;
          }
        }
      }
    }

    &__returnToTop {
      bottom: 6.5em;
      right: 0.8em;

      &__anchor {
        img {
          width: 3.5em;
          height: 3.5em;
        }
      }
    }
  }
}