.main {
  text-align: center;

  &__opening {
    width: 80%;
    margin: 7rem auto 3rem;

    &__title {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 35px;
      line-height: 41.09px;
    }

    &__subtitle {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 23px;
      margin: 1.5rem 0 3rem;
    }

    &__open {
      width: 100%;
      max-width: 310px;
      height: 67px;
      background-color: #08a6e4;
      color: #ffffff;
      border: none;
      border-radius: 40px;
      box-shadow: 5px 10px 14px #07ace64a;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 22px;
    }
  }

  &__background {
    height: 18rem;
    background-image: url("./img/BackgroundMobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__textPopular {
    width: 80%;
    max-width: 500px;
    margin: 1rem auto;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }

  &__sectionPopular {
    width: max-content;
    margin: 2rem auto;

    &__article {
      &__popularSvg {
        position: relative;

        &__svgElipse {
          position: relative;
        }

        &__svgIconPerson {
          position: absolute;
          right: 15px;
          top: 6px;
        }

        &__svgIconEye {
          position: absolute;
          right: 13px;
          top: 11px;
        }

        &__svgIconCatalog {
          position: absolute;
          right: 16px;
          top: 6px;
        }
      }

      &__pNumber {
        margin: 15px auto;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 5.96px;
        max-width: 136px;
      }

      &__pDescription {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #a5a5a5;
        max-width: 136px;
      }
    }
  }

  &__groups {
    background-color: #f7f7f7;
    padding: 0.5rem;

    &__group {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      margin: 2rem auto;
      width: 80%;
      max-width: 500px;
      text-align: start;
      padding: 0 1rem;
      background-color: #ffffff;

      &__groupImg {
        text-align: center;
        margin: auto;
        padding: 1rem 0 1.5rem;
        width: max-content;
        position: relative;

        &__rectangle {
          position: absolute;
          right: 15px;
        }

        &__macbook2 {
          position: relative;
          top: 20px;
          right: 20px;
        }

        &__ellipse3 {
          position: absolute;
          right: 15px;
        }

        &__iPhone2 {
          position: relative;
          top: 10px;
          left: 25px;
        }
      }

      &__groupText {
        &__title {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          font-size: 30px;
          line-height: 35.22px;
          margin: 1rem 0;
        }

        &__description {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          margin: 1.2rem 0;
        }
      }
    }

    &__groupTrumpet {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      margin: 2rem auto;
      max-width: 500px;
      background-color: #ffffff;
      width: 80%;

      &__divTextTrumpet {
        padding: 0 1rem;
        text-align: start;

        &__title {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          font-size: 30px;
          line-height: 35.22px;
          margin: 1rem 0;
        }

        &__description {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          margin: 1.2rem 0;
        }
      }

      &__divImgTrumpet {
        background-color: #55dfb4;
        overflow: hidden;
        max-height: 195px;
        border: 1px solid #e8e9ed;
        border-radius: 5px;

        &__imgTrumpet {
          transform: translate(-9%, 9%);
        }
      }
    }
  }

  &__pricingTitle {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    margin: 3rem auto 0;
  }

  &__pricing {
    padding-bottom: 25px;
    position: relative;

    &__card {
      width: 80%;
      margin: auto;
      max-width: 500px;

      &__info {
        border: 1px solid #fb3b64;
        border-radius: 18px;
        width: 100%;
        margin: 20px 0 0;

        &__leftInfo {
          display: table-cell;
          width: 48%;
          vertical-align: middle;
          padding-bottom: 1rem;

          &__h1Modality {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #13253b;
          }

          &__pModality {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 46px;
            line-height: 64px;
            color: #fb3b64;
          }
        }

        &__rightInfo {
          display: table-cell;
          width: 48%;
          vertical-align: middle;
          text-align: start;
          padding-bottom: 20px;

          &__checkboxList {
            p {
              margin: 25px 0;
            }
          }
        }
      }
      &__basicButton {
        position: absolute;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 23px;
        color: #ffffff;
        background-color: #eb476e;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .info--blue {
      .pModality {
        color: #08a6e4;
      }

      border: 1px solid #08a6e4;
    }

    .basicButton--blue {
      background-color: #08a6e4;
    }

    .info--green {
      .pModality {
        color: #55dfb4;
      }

      border: 1px solid #55dfb4;
    }

    .basicButton--green {
      background-color: #55dfb4;
    }
  }

  .basicButton {
    background-color: #eb476e;
  }

  .profesionalButton {
    background-color: #08a6e4;
  }

  .premiumButton {
    background-color: #55dfb4;
  }

  .basicPrice {
    color: #fb3b64;
  }

  .profesionalPrice {
    color: #08a6e4;
  }

  .premiumPrice {
    color: #55dfb4;
  }

  .questions {
    margin: 2rem auto 1rem;
    text-align: start;
    max-width: 500px;
    padding: 0 1.5rem;

    .questionsTitle {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 46.96px;
    }

    .questionsP {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .mail {
    margin: 1.5rem 0 0.5rem;

    .svgMail {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.4rem;
    }

    .pMail {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #a5a5a5;
    }
  }

  .phone {
    .svgPhone {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.4rem;
    }

    .pPhone {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #a5a5a5;
    }
  }

  .form {
    .formP {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 11px;
      line-height: 14.98px;
      letter-spacing: 3.28px;
      color: #08a6e4;
      margin: 2rem 0 1.8rem;
    }

    .inputForm {
      border: none;
      border-bottom: 1px solid #9a9595;
      width: 100%;
    }
  }

  .check {
    margin: 2rem 0;

    .checkboxCheck {
      display: inline-block;
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #95989a;
      border-radius: 4px;
      background-image: url(./svg/Vector.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    .pCheck {
      display: inline-block;
      width: 85%;
      vertical-align: top;
      margin: 0 0.5rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16.34px;
      color: #707070;
    }
  }

  .sendForm {
    margin: 2rem 0 2.5rem;
    text-align: end;

    .sendFormButton {
      border: none;
      border-radius: 35px;
      background-color: #08a6e4;
      padding: 1.4rem 6rem;
      color: #ffffff;
      box-shadow: 5px 10px 14px #07ace64a;
    }

    .pCheck {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.7px;
    }
  }
}
