.main {
    &__popup {
        display: none;
        position: fixed;
        top: 18em;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border: 0.5px solid rgba(45, 158, 224, 0.5);
        border-radius: 2em;
        max-width: 38em;
        z-index: 50;
        box-shadow: 18px 18px 10px rgb(22, 79, 112);

        &__close {
            position: absolute;
            right: 0.8em;
            top: 0.7em;
            color: rgba(56, 14, 206, 0.541);
            border: none;
            cursor: pointer;
            font-weight: 600;
            background-color: rgba(69, 160, 225, 0.23);
            width: 2em;
            height: 2em;
            border-radius: 15em;
        }

        &__img {
            width: 100%;
            height: 50%;
            border-radius: 2em 2em 0 0;
        }

        &__newsletter {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            padding: 2em 0em;

            &__title {
                font-family: "Open Sans", sans-serif;
                color: rgba(43, 77, 172, 0.64);
                font-weight: 600;
                font-size: 0.8em;
                padding: 1em;
            }

            &__input {
                border: none;
                border-bottom: 1px solid #9a9595;
                width: 14em;
                height: 2em;
                text-align: center;
                font-size: x-small;
            }

            &__input::placeholder {
                color: #9a9595;
                letter-spacing: 0.2em;
            }

            &__button {
                background-color: #08a6e4;
                color: white;
                border: none;
                padding: 0.6em 3em;
                border-radius: 1.5em;
                font-size: 0.8em;
                font-weight: 600;
                letter-spacing: 0.2em;
                font-family: "Open Sans", sans-serif;
                cursor: pointer;
            }
        }
    }

    .error {
        border-bottom: 1px solid red;
    }
}

.formError {
    display: flex;
    padding: 4em 3.5em;
    flex-direction: column;
    gap: 2.5em;
}

@media only screen and (min-width: 1000px) {
    .main {
        &__popup {
            top: 25em;

            &__close {
                right: 1.3em;
                top: 0.8em;
                width: 2em;
                height: 2em;
            }

            &__newsletter {
                &__title {
                    font-size: 1.5em;
                }

                &__input {
                    font-size: medium;
                }
            }
        }
    }
}