.main {

    &__popup {
        display: none;
        position: fixed;
        top: 18em;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border: 0.5px solid rgba(45, 158, 224, 0.5);
        border-radius: 2em;
        max-width: 50em;
        z-index: 50;
        box-shadow: 18px 18px 10px rgb(22, 79, 112);

        &__close {
            position: absolute;
            right: 1em;
            top: 0.6em;
            color: rgba(206, 14, 14, 0.541);
            border: none;
            cursor: pointer;
            font-weight: 600;
            background-color: transparent;
        }

        &__img {
            width: 100%;
            height: 50%;
            border-radius: 2em 2em 0 0;
        }

        &__newsletter {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            padding: 2em;

            &__title {
                font-family: "Open Sans", sans-serif;
                color: rgba(43, 77, 172, 0.64);
                font-weight: 600;
                font-size: 0.8em;
                padding: 1em;

            }

            &__input {
                border: none;
                border-bottom: 1px solid #9a9595;

            }

            &__input::placeholder {
                color: #9a9595;
                letter-spacing: 0.2em;
            }


            &__button {
                background-color: #08a6e4;
                color: white;
                border: none;
                padding: 0.6em 3em;
                border-radius: 1.5em;
                font-size: 0.8em;
                font-weight: 600;
                letter-spacing: 0.2em;
                font-family: "Open Sans", sans-serif;
                cursor: pointer;
            }
        }
    }

}

@media only screen and (min-width: 1000px) {
    .main {
        &__popup {
            top: 25em;

            &__newsletter {
                &__title {
                    font-size: 1.5em;

                }
            }
        }
    }
}