* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 17px 25px 17px 25px;
}
.header__logo {
  display: inline-block;
  width: 79%;
}
.header__p {
  color: #08a6e4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 37px;
}
.header__menu {
  display: inline-block;
  text-align: right;
  width: 19%;
  vertical-align: super;
}

.main {
  text-align: center;
}
.main__opening {
  width: 80%;
  margin: 7rem auto 3rem;
}
.main__h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 41.09px;
}
.main__p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  margin: 1.5rem 0 3rem;
}
.main__button {
  width: 100%;
  max-width: 310px;
  height: 67px;
  background-color: #08a6e4;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
}
.main__background {
  height: 18rem;
  background-image: url("./img/BackgroundMobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main__textPopular {
  width: 80%;
  max-width: 500px;
  margin: 1rem auto;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}
.main__sectionPopular {
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
}
.main__sectionPopular .popularSvg {
  position: relative;
}
.main__sectionPopular .popularSvg .svgIconPerson {
  position: absolute;
  right: 15px;
  top: 6px;
}
.main__sectionPopular .popularSvg .svgIconEye {
  position: absolute;
  right: 13px;
  top: 11px;
}
.main__sectionPopular .popularSvg .svgIconCatalog {
  position: absolute;
  right: 16px;
  top: 6px;
}
.main__sectionPopular .popularSvg .svgElipse {
  position: relative;
}
.main__sectionPopular .pNumber {
  margin: 15px auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5.96px;
  max-width: 136px;
}
.main__sectionPopular .pDescription {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #a5a5a5;
  max-width: 136px;
}
.main .groups {
  background-color: #f7f7f7;
  padding: 0.5rem 0;
}
.main .groups .group {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin: 2rem auto;
  max-width: 500px;
  text-align: start;
  padding: 0 1rem;
  background-color: #ffffff;
}
.main .groups .group div {
  position: relative;
}
.main .groups .group .groupImg {
  text-align: center;
  margin: auto;
  padding: 1rem 0 1.5rem;
  width: -moz-max-content;
  width: max-content;
}
.main .groups .group .groupImg .rectangle {
  position: absolute;
  right: 15px;
}
.main .groups .group .groupImg .macbook2 {
  position: relative;
  top: 20px;
  right: 20px;
}
.main .groups .group .groupImg .ellipse3 {
  position: absolute;
  right: 15px;
}
.main .groups .group .groupImg .iPhone2 {
  position: relative;
  top: 10px;
  left: 25px;
}
.main .groups .group h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  margin: 1rem 0;
}
.main .groups .group p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 1.2rem 0;
}
.main .groups .groupTrumpet {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin: 2rem auto;
  max-width: 500px;
  background-color: #ffffff;
}
.main .groups .groupTrumpet .divTextTrumpet {
  padding: 0 1rem;
  text-align: start;
}
.main .groups .groupTrumpet .divTrumpet {
  background-color: #55dfb4;
  overflow: hidden;
  max-height: 195px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.main .groups .groupTrumpet .imgTrumpet {
  transform: translate(-9%, 9%);
}
.main .groups .groupTrumpet h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  margin: 1rem 0;
}
.main .groups .groupTrumpet p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  margin: 1.2rem 0;
}
.main .pricing {
  padding-bottom: 25px;
  position: relative;
}
.main .pricing .pricingTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42.26px;
  margin: 3rem auto 0;
}
.main .pricing .cardPricing {
  width: 80%;
  margin: auto;
  max-width: 500px;
}
.main .pricing .cardPricing .info {
  border: 1px solid #fb3b64;
  border-radius: 18px;
  width: 100%;
  margin: 20px 0 0;
}
.main .pricing .cardPricing .info .leftInfo {
  display: table-cell;
  width: 48%;
  vertical-align: middle;
  padding-bottom: 5rem;
}
.main .pricing .cardPricing .info .leftInfo h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
}
.main .pricing .cardPricing .info .leftInfo p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
}
.main .pricing .cardPricing .info .leftInfo .basicPrice {
  color: #fb3b64;
}
.main .pricing .cardPricing .info .leftInfo .profesionalPrice {
  color: #08a6e4;
}
.main .pricing .cardPricing .info .leftInfo .premiumPrice {
  color: #55dfb4;
}
.main .pricing .cardPricing .info .rightInfo {
  display: table-cell;
  width: 48%;
  vertical-align: middle;
  text-align: start;
  padding-bottom: 20px;
}
.main .pricing .cardPricing .info .checkboxList p {
  margin: 25px 0;
}
.main .pricing .cardPricing button {
  position: absolute;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 23px;
  color: #ffffff;
  background-color: #eb476e;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.main .pricing .cardPricing .basicButton {
  background-color: #eb476e;
}
.main .pricing .cardPricing .profesionalButton {
  background-color: #08a6e4;
}
.main .pricing .cardPricing .premiumButton {
  background-color: #55dfb4;
}
.main .questions {
  margin: 2rem auto 1rem;
  text-align: start;
  max-width: 500px;
  padding: 0 1.5rem;
}
.main .questions .questionsTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46.96px;
}
.main .questions .questionsP {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.main .mail {
  margin: 1.5rem 0 0.5rem;
}
.main .mail .svgMail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.main .mail .pMail {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #a5a5a5;
}
.main .phone .svgPhone {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.main .phone .pPhone {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #a5a5a5;
}
.main .form .formP {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14.98px;
  letter-spacing: 3.28px;
  color: #08a6e4;
  margin: 2rem 0 1.8rem;
}
.main .form .inputForm {
  border: none;
  border-bottom: 1px solid #9a9595;
  width: 100%;
}
.main .check {
  margin: 2rem 0;
}
.main .check .checkboxCheck {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #95989a;
  border-radius: 4px;
  background-image: url(./svg/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main .check .pCheck {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  margin: 0 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: #707070;
}
.main .sendForm {
  margin: 2rem 0 2.5rem;
  text-align: end;
}
.main .sendForm .sendFormButton {
  border: none;
  border-radius: 35px;
  background-color: #08a6e4;
  padding: 1.4rem 6rem;
  color: #ffffff;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.main .sendForm .pCheck {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
}

footer {
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;
}
footer .rights {
  display: inline-block;
  vertical-align: sub;
  width: 70%;
}
footer .rights .pRightsLogo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #08a6e4;
}
footer .rights .pRights {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14.98px;
  color: #a5a5a5;
}
footer .rrss {
  display: inline-block;
  width: 28%;
  text-align: right;
}
footer .rrss .svgTwitter {
  margin-right: 1rem;
}
footer .rrss .svgFacebook {
  margin-right: 1rem;
}

@media only screen and (min-width: 1000px) {
  main .background {
    background-image: url("./img/BackgroundDesktop.png");
    height: 30rem;
  }
  main .pMostPopular {
    max-width: 1000px;
  }
  main .sectionPopular {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 2rem auto;
  }
}/*# sourceMappingURL=styles.css.map */