* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 17px 25px 17px 25px;

  .sectionLogo {
    display: inline-block;
    width: 79%;
  }

  .sectionMenu {
    display: inline-block;
    text-align: right;
    width: 19%;
    vertical-align: super;
  }

  p {
    color: #08a6e4;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 37px;
  }
}
main {
  text-align: center;
  .OpeningSection {
    width: 80%;
    margin: 4rem auto;
    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 35px;
      line-height: 41.09px;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 23px;
      margin: 1rem 0;
    }

    button {
      width: 100%;
      max-width: 310px;
      height: 67px;
      background-color: #08a6e4;
      color: #ffffff;
      border: none;
      border-radius: 40px;
      box-shadow: 5px 10px 14px #07ace64a;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 22px;
    }
  }
  .BackgroundMobile {
    width: 100vw;
    max-width: 500px;
  }
  .popular {
    background-color: bisque;
    div {
      .svgPerson {
        position: relative;
      }
      .svgElipse {
        position: absolute;
      }
    }
  }
}
