* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 17px 25px 17px 25px;

  .sectionLogo {
    display: inline-block;
    width: 79%;
  }

  .sectionMenu {
    display: inline-block;
    text-align: right;
    width: 19%;
    vertical-align: super;
  }

  p {
    color: #08a6e4;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 37px;
  }
}

main {
  text-align: center;

  .OpeningSection {
    width: 80%;
    margin: 7rem auto 3rem;

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 35px;
      line-height: 41.09px;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 23px;
      margin: 1.5rem 0 3rem;
    }

    button {
      width: 100%;
      max-width: 310px;
      height: 67px;
      background-color: #08a6e4;
      color: #ffffff;
      border: none;
      border-radius: 40px;
      box-shadow: 5px 10px 14px #07ace64a;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 22px;
    }
  }

  .BackgroundMobile {
    width: 100vw;
    max-width: 500px;
  }

  .pMostPopular {
    width: 80%;
    margin: 1rem auto;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }

  .popular {
    width: max-content;
    margin: 2rem auto;

    .popularSvg {
      position: relative;

      .svgIconPerson {
        position: absolute;
        right: 15px;
        top: 6px;
      }

      .svgIconEye {
        position: absolute;
        right: 13px;
        top: 11px;
      }

      .svgIconCatalog {
        position: absolute;
        right: 16px;
        top: 6px;
      }

      .svgElipse {
        position: relative;
      }
    }

    .pNumber {
      margin: 15px auto;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 5.96px;
      max-width: 136px;
    }

    .pDescription {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #a5a5a5;
      max-width: 136px;
    }
  }

  .groups {
    background-color: #f7f7f7;
    padding: 0.5rem 0;

    .group {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      width: 80%;
      margin: 2rem auto;
      text-align: start;
      padding: 0 1rem;
      background-color: #ffffff;

      div {
        position: relative;
      }

      .groupImg {
        text-align: center;
        margin: auto;
        padding: 1rem 0 1.5rem;
        width: max-content;

        .rectangle {
          position: absolute;
          right: 15px;
        }

        .macbook2 {
          position: relative;
          top: 20px;
          right: 20px;
        }

        .ellipse3 {
          position: absolute;
          right: 15px;
        }

        .iPhone2 {
          position: relative;
          top: 10px;
          left: 25px;
        }
      }

      h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 35.22px;
        margin: 1rem 0;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin: 1.2rem 0;
      }
    }
    .groupTrumpet {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      width: 80%;
      margin: 2rem auto;
      text-align: start;
      background-color: #ffffff;
      .divTrumpet {
        background-color: #55dfb4;
      }
      div {
        padding: 0 1rem;
      }
      h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 35.22px;
        margin: 1rem 0;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin: 1.2rem 0;
      }
    }
  }
  .pricing {
    padding-bottom: 25px;
    position: relative;
    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 36px;
      line-height: 42.26px;
      margin: 3rem auto 0;
    }
    .basic {
      width: 80%;
      margin: auto;
      .info {
        border: 1px solid #fb3b64;
        border-radius: 18px;
        width: 100%;
        margin: 20px 0 0;
        .leftInfo {
          display: table-cell;
          width: 48%;
          vertical-align: middle;
          padding-bottom: 5rem;
          h1 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #13253b;
          }
          p {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 46px;
            line-height: 64px;
            color: #fb3b64;
          }
        }
        .rightInfo {
          display: table-cell;
          width: 48%;
          vertical-align: middle;
          text-align: start;
          padding-bottom: 20px;
        }
        .checkboxList {
          p {
            margin: 25px 0;
          }
        }
      }

      button {
        position: absolute;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 23px;
        color: #ffffff;
        background-color: #eb476e;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
