.percentage {
  width: 100%;
  height: 0.3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
.percentage__scroller {
  width: 0%;
  height: 100%;
  background-color: rgb(253, 74, 74);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  border-radius: 1em;
}

.nav {
  position: static;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  padding: 1rem 0.3rem 0em;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}
.nav__logo {
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-left: 1em;
  margin-bottom: 1em;
}
.nav__logo__text {
  color: #08a6e4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.313rem;
}
.nav__svg {
  position: absolute;
  right: 0em;
  top: 0em;
  margin: 2em 2em;
  transition: transform 850ms;
}
.nav__menu {
  width: 100%;
  transform: translateY(0);
}
.nav__menu .menuDown {
  position: relative;
  display: block;
  padding: 1em 1em 1.7em 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.66em;
  line-height: 0.93em;
  letter-spacing: 0.22em;
  color: #A5A5A5;
}
.nav__menu__menuDesktop {
  display: none;
  list-style: none;
  cursor: pointer;
}
.nav__menu__menuDesktop__article {
  padding: 1em;
}
.nav__menu__menuDesktop__article__anchor {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
    justify-content: center;
  }
  .nav__logo {
    padding-left: 2em;
  }
  .nav__svg {
    display: none;
  }
  .nav__menu {
    transform: translateY(-6px);
    width: 40%;
  }
  .nav__menu .menuDown {
    display: flex;
  }
  .nav__menu__menuDesktop {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 0.3em;
  }
  .nav__menu__menuDesktop__article {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    line-height: 1em;
    letter-spacing: 0.2em;
    padding: 0;
  }
  .nav__menu__menuDesktop__article :hover {
    padding-top: 1.5em;
    height: 100%;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border-bottom: 4px solid #08a6e4;
  }
}
* {
  scroll-behavior: smooth;
}

.main {
  text-align: center;
}
.main__opening {
  width: 80%;
  margin: 7rem auto 0;
}
.main__opening__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.18em;
  line-height: 2.5em;
}
.main__opening__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  margin: 1.5em 0 3em;
}
.main__opening__openButton {
  width: 100%;
  max-width: 350px;
  height: 4.18em;
  background-color: #08a6e4;
  color: #ffffff;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;
}
.main__background {
  height: 18rem;
  background-image: url("./img/BackgroundMobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main__textPopular {
  width: 80%;
  margin: 0 auto 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.87rem;
  line-height: 2.18rem;
}
.main__sectionPopular {
  width: -moz-max-content;
  width: max-content;
  margin: 2em auto;
}
.main__sectionPopular__article {
  margin-bottom: 2.5em;
}
.main__sectionPopular__article__popularSvg {
  position: relative;
}
.main__sectionPopular__article__popularSvg__svgElipse {
  position: relative;
}
.main__sectionPopular__article__popularSvg__svgIconPerson {
  position: absolute;
  right: 1.8em;
  top: 0.37em;
}
.main__sectionPopular__article__popularSvg__svgIconEye {
  position: absolute;
  right: 0.8em;
  top: 0.7em;
}
.main__sectionPopular__article__popularSvg__svgIconCatalog {
  position: absolute;
  right: 1em;
  top: 0.37em;
}
.main__sectionPopular__article__pNumber {
  margin: 1em auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2;
  letter-spacing: 5.96px;
  max-width: 8.5em;
}
.main__sectionPopular__article__pDescription {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1em;
  color: #a5a5a5;
  max-width: 8.5em;
}
.main__groups {
  background-color: #f7f7f7;
  padding: 0.5rem;
}
.main__groups__group {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin: 2em auto;
  width: 80%;
  max-width: 30rem;
  text-align: start;
  padding: 0 1rem;
  background-color: #ffffff;
}
.main__groups__group__groupImg {
  text-align: center;
  margin: auto;
  padding: 1em 0 1.5em;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.main__groups__group__groupImg__rectangle {
  position: absolute;
  right: 1em;
}
.main__groups__group__groupImg__macbook2 {
  position: relative;
  top: 1.2em;
  right: 1.2em;
  width: 10em;
}
.main__groups__group__groupImg__ellipse3 {
  position: absolute;
  right: 1em;
}
.main__groups__group__groupImg__iPhone2 {
  position: relative;
  top: 0.62em;
  left: 1.5em;
}
.main__groups__group__groupText__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.87rem;
  line-height: 2rem;
  margin: 1rem 0;
}
.main__groups__group__groupText__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 19px;
  margin: 1.2rem 0;
}
.main__groups__groupTrumpet {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin: 2rem auto;
  max-width: 500px;
  background-color: #ffffff;
  width: 80%;
}
.main__groups__groupTrumpet__divTextTrumpet {
  padding: 0 1rem;
  text-align: start;
}
.main__groups__groupTrumpet__divTextTrumpet__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.87rem;
  line-height: 35.22px;
  margin: 1rem 0;
}
.main__groups__groupTrumpet__divTextTrumpet__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 19px;
  margin: 1.2rem 0;
}
.main__groups__groupTrumpet__divImgTrumpet {
  background-color: #55df9f;
  overflow: hidden;
  max-height: 12.18rem;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.main__groups__groupTrumpet__divImgTrumpet__imgTrumpet {
  transform: translate(-9%, 9%);
}
.main__pricingTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 42.26px;
  margin: 3rem auto 0;
}
.main__selector {
  padding: 1em;
}
.main__selector__boton {
  margin: 1em;
}
.main__selector__boton {
  margin: 1em;
}
.main__container__pricing {
  padding-bottom: 1.56em;
  position: relative;
}
.main__container__pricing__card {
  width: 80%;
  margin: auto;
  max-width: 30rem;
}
.main__container__pricing__card__info {
  border: 1px solid #fb3b64;
  border-radius: 18px;
  width: 100%;
  margin: 1.25em 0 0;
}
.main__container__pricing__card__info__leftInfo {
  display: table-cell;
  width: 48%;
  vertical-align: middle;
  padding-bottom: 1rem;
}
.main__container__pricing__card__info__leftInfo__h1Modality {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 24px;
  color: #13253b;
}
.main__container__pricing__card__info__leftInfo__pModality {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.87rem;
  line-height: 64px;
  color: #fb3b64;
}
.main__container__pricing__card__info__leftInfo .h4Modality--red {
  visibility: hidden;
}
.main__container__pricing__card__info__leftInfo .pModality--blue {
  color: #08a6e4;
}
.main__container__pricing__card__info__leftInfo .pModality--green {
  color: #55dfb4;
}
.main__container__pricing__card__info__rightInfo {
  display: table-cell;
  width: 48%;
  vertical-align: middle;
  text-align: start;
  padding-bottom: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
}
.main__container__pricing__card__info__rightInfo__checkboxList li {
  margin: 1.56em 0;
  list-style: none;
}
.main__container__pricing__card .info--borderblue {
  border: 1px solid #08a6e4;
}
.main__container__pricing__card .info--borderGreen {
  border: 1px solid #55dfb4;
}
.main__container__pricing__card__basicButton {
  position: absolute;
  width: 9.37rem;
  height: 3.12rem;
  border: none;
  border-radius: 23px;
  color: #ffffff;
  background-color: #eb476e;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}
.main__container__pricing__card .basicButton--blue {
  background-color: #08a6e4;
}
.main__container__pricing__card .basicButton--green {
  background-color: #55dfb4;
}
.main__slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.801);
  width: 96%;
  height: 20em;
  margin: 2em auto 0 auto;
  padding: 0.5em 0.5em 1.6em 0.5em;
  border-radius: 1em;
  max-width: 30rem;
}
.main__slider__img {
  width: 100%;
  height: 99%;
  border-radius: 1em;
  aspect-ratio: 16/9;
}
.main__slider__buttonLeft {
  position: absolute;
  bottom: 50%;
  width: 2em;
  height: 2em;
  left: 4%;
  border: 1px solid rgba(240, 40, 40, 0.4);
  border-radius: 15em;
  background-color: rgba(240, 40, 40, 0.3);
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: small;
  letter-spacing: 0.1em;
  box-shadow: 0px 0px 6px rgb(240, 40, 40);
  cursor: pointer;
}
.main__slider__buttonRight {
  position: absolute;
  bottom: 50%;
  width: 2em;
  height: 2em;
  right: 4%;
  border: 1px solid rgba(240, 40, 40, 0.4);
  border-radius: 15em;
  background-color: rgba(240, 40, 40, 0.3);
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: small;
  letter-spacing: 0.1em;
  box-shadow: 0px 0px 6px rgb(240, 40, 40);
  cursor: pointer;
}
.main__slider__paginations {
  position: relative;
  width: 100%;
}
.main__slider__paginations__span {
  background: #888;
  width: 1em;
  height: 1em;
  border-radius: 15em;
  display: inline-block;
  margin: 0 0.3em;
}
.main__slider__paginations .paginations--active {
  background: #f7f7f7;
  box-shadow: 0px 0px 10px rgb(240, 40, 40);
}
.main__questions {
  margin: 2em auto 1em;
  text-align: start;
  max-width: 30rem;
  padding: 0 1.5rem;
}
.main__questions__container__questionsTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 46.96px;
}
.main__questions__container__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
}
.main__questions__container__contact__mail {
  margin: 1.5rem 0 0.5rem;
}
.main__questions__container__contact__mail__svgMail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.main__questions__container__contact__mail__textMail {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  color: #a5a5a5;
}
.main__questions__container__contact__phone__svgPhone {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.main__questions__container__contact__phone__numberPhone {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  color: #a5a5a5;
}
.main__questions__containerForm__form__formP {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.68rem;
  line-height: 0.87rem;
  letter-spacing: 0.28rem;
  color: #08a6e4;
  margin: 3rem 0 0;
}
.main__questions__containerForm__form__inputForm {
  border: none;
  border-bottom: 1px solid #9a9595;
  width: 100%;
  height: 3em;
  font-size: medium;
}
.main__questions__containerForm__form__inputForm::-moz-placeholder {
  color: #a5a5a5;
}
.main__questions__containerForm__form__inputForm::placeholder {
  color: #a5a5a5;
}
.main__questions__containerForm__form .error {
  border-bottom: 2px solid red;
}
.main__questions__containerForm__check {
  margin: 2rem 0;
}
.main__questions__containerForm__check__checkboxCheck {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #9a9595;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.main__questions__containerForm__check .error {
  border: 2px solid red;
}
.main__questions__containerForm__check .checkboxCheckImg {
  background-image: url(./svg/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main__questions__containerForm__check__pCheck {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  margin: 0 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #707070;
}
.main__questions__containerForm__check__sendForm {
  margin: 2rem 0 2.5rem;
  text-align: end;
}
.main__questions__containerForm__check__sendForm__sendFormButton {
  border: none;
  border-radius: 35px;
  background-color: #08a6e4;
  padding: 1.4rem 6.3rem;
  color: #ffffff;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.main__returnToTop {
  visibility: hidden;
  position: fixed;
  bottom: 3.5em;
  right: 0.8em;
  cursor: pointer;
}
.main__returnToTop__anchor img {
  background-color: transparent;
  border: none;
  box-shadow: 2px 4px 9px #631b1b;
  border-radius: 50%;
  background-color: #c53939;
  width: 2.5em;
  height: 2.5em;
}
.main__returnToTop__anchor img:hover {
  scale: 1.2;
}

@media only screen and (min-width: 1000px) {
  .main__opening__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .main__background {
    height: 30rem;
    background-image: url("./img/BackgroundDesktop.png");
  }
  .main__textPopular {
    font-weight: 25rem;
    font-size: 2.25rem;
    line-height: 2.6rem;
  }
  .main__sectionPopular {
    display: flex;
    gap: 12em;
    margin: 6em auto;
  }
  .main__sectionPopular__article__popularSvg__svgIconPerson {
    right: 0.5em;
  }
  .main__groups {
    padding: 4em 1em;
  }
  .main__groups__group {
    width: 100%;
    max-width: 64rem;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .main__groups__group__groupImg {
    transform: scale(2);
    margin: 4em;
  }
  .main__groups__group__groupText {
    margin: 3em 1em 3em 0;
    max-width: 38%;
  }
  .main__groups__group .groupText--red {
    border-bottom: 4px solid #fb3b64;
  }
  .main__groups__group .groupText--blue {
    border-bottom: 4px solid #08a6e4;
  }
  .main__groups .group--desktop {
    flex-direction: row-reverse;
    padding: 2em;
  }
  .main__groups__groupTrumpet {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
    max-width: 64rem;
    border: none;
    background-color: transparent;
  }
  .main__groups__groupTrumpet__divTextTrumpet {
    border: 1px solid #e8e9ed;
    background-color: #ffffff;
    max-width: 55%;
    padding: 3em 11em 5em 1.5em;
  }
  .main__groups__groupTrumpet__divTextTrumpet__description {
    padding-bottom: 3em;
    border-bottom: 4px solid #55dfb4;
  }
  .main__groups__groupTrumpet__divTextTrumpet__title {
    padding-right: 1em;
  }
  .main__groups__groupTrumpet__divImgTrumpet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: none;
  }
  .main__pricingTitle {
    margin: 3em 0 1.3em;
  }
  .main__selector__boton:hover {
    scale: 1.6;
    border-radius: 10em;
    box-shadow: 0rem 0rem 1.8rem rgba(45, 46, 45, 0.7803921569);
  }
  .main__container {
    max-width: 79.1em;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
  .main__container__pricing:hover {
    transform: scale(1.1);
  }
  .main__container__pricing {
    width: 30%;
  }
  .main__container__pricing__card {
    width: 100%;
  }
  .main__container__pricing__card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 1em;
  }
  .main__container__pricing__card__info__rightInfo {
    text-align: center;
  }
  .main__container__pricing__card .info--borderRed:hover {
    box-shadow: 0.3rem 0.62rem 1.6rem rgba(235, 71, 109, 0.3294117647);
  }
  .main__container__pricing__card .info--borderblue:hover {
    box-shadow: 0.3rem 0.62rem 1.6rem rgba(7, 171, 230, 0.3215686275);
  }
  .main__container__pricing__card .info--borderGreen:hover {
    box-shadow: 0.3rem 0.62rem 1.6rem rgba(85, 223, 179, 0.3490196078);
  }
  .main__container__pricing__card .basicButton--red:hover {
    box-shadow: 0.3rem 0.62rem 1.6rem rgba(235, 71, 109, 0.3294117647);
  }
  .main__container__pricing__card .basicButton--blue:hover {
    box-shadow: 0.3rem 0.62rem 1.6rem rgba(7, 171, 230, 0.3215686275);
  }
  .main__container__pricing__card .basicButton--green:hover {
    box-shadow: 0.3rem 0.62rem 1.6rem rgba(85, 223, 179, 0.3490196078);
  }
  .main__slider {
    max-width: 78em;
    margin: 2em auto;
    height: 40em;
    padding-bottom: 2.5em;
  }
  .main__slider__buttonLeft {
    width: 3em;
    height: 3em;
    font-size: medium;
    letter-spacing: 0.2em;
  }
  .main__slider__buttonRight {
    width: 3em;
    height: 3em;
    font-size: medium;
    letter-spacing: 0.2em;
  }
  .main__slider__buttonLeft:hover {
    scale: 1.4;
  }
  .main__slider__buttonRight:hover {
    scale: 1.4;
  }
  .main__slider__paginations {
    bottom: -0.5em;
  }
  .main__slider__paginations__span {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.7em;
    cursor: pointer;
  }
  .main__questions {
    display: flex;
    justify-content: space-between;
    max-width: 56rem;
    padding: 0em;
    margin: 8em auto 4em;
  }
  .main__questions__container__questionsTitle {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  .main__questions__container__contact {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
  }
  .main__questions__container__contact__mail {
    margin: 0em;
  }
  .main__questions__containerForm {
    width: 50%;
  }
  .main__questions__containerForm__form__formP {
    margin-top: 0.5em;
  }
  .main__questions__containerForm__form__inputForm {
    margin-bottom: 3em;
  }
  .main__questions__containerForm__check {
    margin: 0em;
  }
  .main__questions__containerForm__check__pCheck {
    width: 90%;
  }
  .main__questions__containerForm__check__sendForm {
    margin-bottom: 0em;
  }
  .main__returnToTop {
    bottom: 6.5em;
    right: 0.8em;
  }
  .main__returnToTop__anchor img {
    width: 3.5em;
    height: 3.5em;
  }
}
.footer {
  box-shadow: 0em 0.3em 2.5em rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;
}
.footer__rights {
  display: inline-block;
  vertical-align: sub;
  width: 65%;
}
.footer__rights__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.62rem;
  line-height: 1.87rem;
  color: #08a6e4;
  margin-bottom: 0.3rem;
}
.footer__rights__reserved {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.69rem;
  line-height: 0.9rem;
  color: #a5a5a5;
}
.footer__rrss {
  display: inline-block;
  width: 33%;
  text-align: right;
}
.footer__rrss__svgTwitter {
  margin-right: 1em;
}
.footer__rrss__svgFacebook {
  margin-right: 1em;
}
.footer__rrss a {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding: 1.5em 8em;
  }
}
.main__popup {
  display: none;
  position: fixed;
  top: 18em;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 0.5px solid rgba(45, 158, 224, 0.5);
  border-radius: 2em;
  max-width: 38em;
  z-index: 50;
  box-shadow: 18px 18px 10px rgb(22, 79, 112);
}
.main__popup__close {
  position: absolute;
  right: 0.8em;
  top: 0.7em;
  color: rgba(56, 14, 206, 0.541);
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: rgba(69, 160, 225, 0.23);
  width: 2em;
  height: 2em;
  border-radius: 15em;
}
.main__popup__img {
  width: 100%;
  height: 50%;
  border-radius: 2em 2em 0 0;
}
.main__popup__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0em;
}
.main__popup__newsletter__title {
  font-family: "Open Sans", sans-serif;
  color: rgba(43, 77, 172, 0.64);
  font-weight: 600;
  font-size: 0.8em;
  padding: 1em;
}
.main__popup__newsletter__input {
  border: none;
  border-bottom: 1px solid #9a9595;
  width: 14em;
  height: 2em;
  text-align: center;
  font-size: x-small;
}
.main__popup__newsletter__input::-moz-placeholder {
  color: #9a9595;
  letter-spacing: 0.2em;
}
.main__popup__newsletter__input::placeholder {
  color: #9a9595;
  letter-spacing: 0.2em;
}
.main__popup__newsletter__button {
  background-color: #08a6e4;
  color: white;
  border: none;
  padding: 0.6em 3em;
  border-radius: 1.5em;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.main .error {
  border-bottom: 1px solid red;
}

.formError {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formError p {
  color: red;
}
.formError img {
  height: 10em;
}
.formError button {
  max-width: 60%;
  margin: 3em 0 4em 0;
}

@media only screen and (min-width: 1000px) {
  .main__popup {
    top: 25em;
  }
  .main__popup__close {
    right: 1.3em;
    top: 0.8em;
    width: 2em;
    height: 2em;
  }
  .main__popup__newsletter__title {
    font-size: 1.5em;
  }
  .main__popup__newsletter__input {
    font-size: medium;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */