* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 17px 25px 17px 25px;
}
header .sectionLogo {
  display: inline-block;
  width: 79%;
}
header .sectionMenu {
  display: inline-block;
  text-align: right;
  width: 19%;
  vertical-align: super;
}
header p {
  color: #08a6e4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 37px;
}

main {
  text-align: center;
}
main .OpeningSection {
  width: 80%;
  margin: 7rem auto 3rem;
}
main .OpeningSection h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 41.09px;
}
main .OpeningSection p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  margin: 1.5rem 0 3rem;
}
main .OpeningSection button {
  width: 100%;
  max-width: 310px;
  height: 67px;
  background-color: #08a6e4;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
}
main .BackgroundMobile {
  width: 100vw;
  max-width: 500px;
}
main .pMostPopular {
  width: 80%;
  margin: 1rem auto;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}
main .popular {
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
}
main .popular .popularSvg {
  position: relative;
}
main .popular .popularSvg .svgIconPerson {
  position: absolute;
  right: 15px;
  top: 6px;
}
main .popular .popularSvg .svgIconEye {
  position: absolute;
  right: 13px;
  top: 11px;
}
main .popular .popularSvg .svgIconCatalog {
  position: absolute;
  right: 16px;
  top: 6px;
}
main .popular .popularSvg .svgElipse {
  position: relative;
}
main .popular .pNumber {
  margin: 15px auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5.96px;
  max-width: 136px;
}
main .popular .pDescription {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #a5a5a5;
  max-width: 136px;
}
main .groups {
  background-color: #f7f7f7;
  padding: 0.5rem 0;
}
main .groups .group {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 80%;
  margin: 2rem auto;
  text-align: start;
  padding: 0 1rem;
  background-color: #ffffff;
}
main .groups .group div {
  position: relative;
}
main .groups .group .groupImg {
  text-align: center;
  margin: auto;
  padding: 1rem 0 1.5rem;
  width: -moz-max-content;
  width: max-content;
}
main .groups .group .groupImg .rectangle {
  position: absolute;
  right: 15px;
}
main .groups .group .groupImg .macbook2 {
  position: relative;
  top: 20px;
  right: 20px;
}
main .groups .group .groupImg .ellipse3 {
  position: absolute;
  right: 15px;
}
main .groups .group .groupImg .iPhone2 {
  position: relative;
  top: 10px;
  left: 25px;
}
main .groups .group h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  margin: 1rem 0;
}
main .groups .group p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 1.2rem 0;
}
main .groups .groupTrumpet {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 80%;
  margin: 2rem auto;
  text-align: start;
  background-color: #ffffff;
}
main .groups .groupTrumpet .divTrumpet {
  background-color: #55dfb4;
}
main .groups .groupTrumpet div {
  padding: 0 1rem;
}
main .groups .groupTrumpet h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  margin: 1rem 0;
}
main .groups .groupTrumpet p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 1.2rem 0;
}
main .pricing {
  padding-bottom: 25px;
  position: relative;
}
main .pricing h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42.26px;
  margin: 3rem auto 0;
}
main .pricing .basic {
  width: 80%;
  margin: auto;
}
main .pricing .basic .info {
  border: 1px solid #fb3b64;
  border-radius: 18px;
  width: 100%;
  margin: 20px 0 0;
}
main .pricing .basic .info .leftInfo {
  display: table-cell;
  width: 48%;
  vertical-align: middle;
  padding-bottom: 5rem;
}
main .pricing .basic .info .leftInfo h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
}
main .pricing .basic .info .leftInfo p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #fb3b64;
}
main .pricing .basic .info .rightInfo {
  display: table-cell;
  width: 48%;
  vertical-align: middle;
  text-align: start;
  padding-bottom: 20px;
}
main .pricing .basic .info .checkboxList p {
  margin: 25px 0;
}
main .pricing .basic button {
  position: absolute;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 23px;
  color: #ffffff;
  background-color: #eb476e;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=styles.css.map */